
@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Afacad", sans-serif;
}
body{
    min-height: 100vh;
    background:url('/img/background.jpg') no-repeat ;
    background-size: cover;
    background-position: center;
}
.home{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.home-content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-content h1{
    color: #fff;
    font-size: 70px;
    font-weight: 700;
    /* text-shadow: 0 0 10px #141314; */
}
.home-content p{
    color:#fff;
    font-size: 1.5rem;
    margin-bottom: 5%;
}
.home-content a{
    text-decoration:none;
    width:100px;
    border:2px solid #fff;
    font-size: 1.2rem;
    color:#fff;
    background: #c40094;
    outline: none;
    box-shadow: 0 0 10px #c40094;
    text-align: center;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 50px;
    transition: .5s;
}
.home-content a:hover{
    background: #0c0c0c;
    color: #fdf9fc;
    box-shadow:none
}
.popup{
    background:white;
    color:black;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);/* to center the popup */
    width:400px;
    height:400px;
    border-radius:10px;
    /* box-shadow:0 0 10px #1f1f1f; */
}
.popup-content{
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding: 30px;
}
.popup-content h2{
    font-size: 3rem;
    margin-bottom: 10px;
    text-align: center;
}
#notification-form{
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    font-size:20px;
}   
#notification-form label{
    margin-bottom: 5px;
}
input,select{
    width:100%;
    padding:5px;
    font-size:1rem;
    margin-bottom:10px;
}
